																		<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Winorg</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />



  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="/css/simple-line-icons.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/custom.css">
	

	<!-- Modernizr JS -->
	<script src="/scripts/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>

	@RenderBody()

	<body>
	<header role="banner" id="winorg-header">
		<div class="container">
			<!-- <div class="row"> -->
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-winorg-nav-toggle winorg-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<a class="navbar-brand" href="index.html">Winorg</a> 
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#" data-nav-section="home"><span>Hjem</span></a></li>
					<li><a href="#total" data-nav-section="total"><span>Produkter</span></a></li>
					<li><a href="#kontakt" data-nav-section="testimonials"><span>Kontakt</span></a></li>
					<li><a href="#jobb" data-nav-section="services"><span>Jobb hos oss</span></a></li>
					<li><a href="#kunder" data-nav-section="about"><span>For våre kunder</span></a></li>
					</ul>
				</div>
			</nav>
		  </div>
	</header>

	<section id="winorg-home">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">Slipp løs kraften i organisasjonen</h1>
							<h2 class="to-animate">Medlemmer - Givere - Frivillige - Tillitsvalgte</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>

	<section id="winorg-intro">
		<div class="container">
			<div class="row row-bottom-padded-lg product-cards">
				<div class="winorg-block to-animate product-card col-sm-6" style="background-image: url(images/plaza.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="winorg-text">
						<i class="winorg-intro-icon icon-bulb"></i>
						<h2 class="to-animate">Winorg Total</h2>
						<p>Et komplett organisasjonssystem</p>
						<p><a href="#total" class="btn btn-primary">Les mer</a></p>
					</div>
				</div>
				<div class="winorg-block to-animate product-card col-sm-6" style="background-image: url(images/plaza.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="winorg-text">
						<i class="winorg-intro-icon icon-wrench"></i>
						<h2 class="to-animate">Winorg Express</h2>
						<p>En lettvekter i tungvektsklassen.</p>
						<p><a href="#express" class="btn btn-primary">Les mer</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="container" data-section="total">
			<div class="wo-products">
				<div class="total wo-product-info section-heading text-center" id="total">
					<h2 class="to-animate section-heading">Winorg Total</h2>
				</div>
				<div class="row row-bottom-padded-lg">
					<div class="total wo-product-description-division col-md-4">
						<img src="#" alt="360 grader ikon" class="product-description-icon">
						<h2>Komplett løsning</h2>
						<p>
							Winorg Total er like mangfoldig som dub organisasjon. Enten dere er en fagforening, humanitær eller interessorganisasjon. En modulær gir all den funksjonalitet dere trenger <br>
							Løsningen vokser med organisasjonen og passer enten dere har noen hundre eller millioner personer p forholde dere til.
						</p>
					</div>
					<div class="lidenskap wo-product-description-division col-md-4">
						<img src="#" alt="360 grader ikon" class="product-description-icon">
						<h2>Lidenskap</h2>
						<p>
							Winorg Total er like mangfoldig som dub organisasjon. Enten dere er en fagforening, humanitær eller interessorganisasjon. En modulær gir all den funksjonalitet dere trenger <br>
							Løsningen vokser med organisasjonen og passer enten dere har noen hundre eller millioner personer p forholde dere til.
						</p>
					</div>
					<div class="dialog wo-product-description-division col-md-4">
						<img src="#" alt="360 grader ikon" class="product-description-icon">
						<h2>Intelligent dialog</h2>
						<p>
							Winorg Total er like mangfoldig som dub organisasjon. Enten dere er en fagforening, humanitær eller interessorganisasjon. En modulær gir all den funksjonalitet dere trenger <br>
							Løsningen vokser med organisasjonen og passer enten dere har noen hundre eller millioner personer p forholde dere til.
						</p>
					</div>
				</div>
				
				<div class="express wo-product-info section-heading text-center" id="express">
					<h2 class="to-animate section-heading">Winorg Express</h2>
				</div>
				<div class="row row-bottom-padded-lg">
					<div class="komplett wo-product-description-division col-md-4">
						<img src="#" alt="360 grader ikon" class="product-description-icon">
						<h2>Standardløsning</h2>
						<p>
							Winorg Total er like mangfoldig som dub organisasjon. Enten dere er en fagforening, humanitær eller interessorganisasjon. En modulær gir all den funksjonalitet dere trenger <br>
							Løsningen vokser med organisasjonen og passer enten dere har noen hundre eller millioner personer p forholde dere til.
						</p>
					</div>
					<div class="lidenskap wo-product-description-division col-md-4">
						<img src="#" alt="360 grader ikon" class="product-description-icon">
						<h2>Automatikk</h2>
						<p>
							Winorg Total er like mangfoldig som dub organisasjon. Enten dere er en fagforening, humanitær eller interessorganisasjon. En modulær gir all den funksjonalitet dere trenger <br>
							Løsningen vokser med organisasjonen og passer enten dere har noen hundre eller millioner personer p forholde dere til.
						</p>
					</div>
					<div class="dialog wo-product-description-division col-md-4">
						<img src="#" alt="360 grader ikon" class="product-description-icon">
						<h2>Sky</h2>
						<p>
							Winorg Total er like mangfoldig som dub organisasjon. Enten dere er en fagforening, humanitær eller interessorganisasjon. En modulær gir all den funksjonalitet dere trenger <br>
							Løsningen vokser med organisasjonen og passer enten dere har noen hundre eller millioner personer p forholde dere til.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="kunder" data-section="kunder">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Våre kunder</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
						</div>
					</div>
				</div>
				<div class="kunde-logo row">
					<img class="kunde-logo-img col-md-2" src="/images/kn.png")>
					<img class="kunde-logo-img col-md-2" src="/images/ff.png")>
					<img class="kunde-logo-img col-md-2" src="/images/flt.png")>
					<img class="kunde-logo-img col-md-2" src="/images/UDF.gif")>
					<img class="kunde-logo-img col-md-2" src="/images/nito.png")>
					<img class="kunde-logo-img col-md-2" src="/images/fa.png")>
				</div>
				<div class="kunde-logo row">
					<img class="kunde-logo-img col-md-2" src="/images/fo.png")>
					<img class="kunde-logo-img col-md-2" src="/images/dfs.jpg")>
					<img class="kunde-logo-img col-md-2" src="/images/kf.png")>
					<img class="kunde-logo-img col-md-2" src="/images/kn.png")>
					<img class="kunde-logo-img col-md-2" src="/images/parat_logo_hvit.png")>
					<img class="kunde-logo-img col-md-2" src="/images/sl.png")>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>
	
	<section id="winorg-about" data-section="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Kontakt</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Ta kontakt for en hyggelig samtale om Winorg sine produkter.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-md person-container">
				<div class="col-sm-6">
					<div class="winorg-person text-center to-animate row-bottom-padded-md">
						<div class="contact-img" style="background-image: url(images/havard_bw.jpg)"></div>
						<h3>Håvard Ellefsen</h3>
						<span class="winorg-position">Administrerende direktør</span>
						<div class="phone-contact">
							<p>909 30 909</p>
						</div>
						<div class="mail-contact">
							<p class="p-mail">havard.ellefsen@winorg.no</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="winorg-person text-center to-animate row-bottom-padded-md">
						<div class="contact-img" style="background-image: url(images/kari_bw.jpg)"></div>
						<h3>Kari Otnes</h3>
						<span class="winorg-position">Administrasjonssjef</span>
						<div class="phone-contact">
							<p>934 19 669</p>
						</div>
						<div class="mail-contact">
							<p class="p-mail">kari.otnes@winorg.no</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="winorg-person text-center to-animate row-bottom-padded-md">
						<div class="contact-img" style="background-image: url(images/kim_bw.jpg)"></div>
						<h3>Kim Roger Elverhøy</h3>
						<span class="winorg-position">Salgsansvarlig</span>
						<div class="phone-contact">
							<p>913 57 264</p>
						</div>
						<div class="mail-contact">
							<p class="p-mail">kim.elverhoy@winorg.no</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="winorg-person text-center to-animate row-bottom-padded-md">
						<div class="contact-img" style="background-image: url(images/rikard_bw.jpg)"></div>
						<h3>Rikard Mauritzon</h3>
						<span class="winorg-position">Strategisk kundeutvikler og prosjektleder</span>
						<div class="mail-contact">
							<p class="p-phone">920 64 750</p>
						</div>
						<div class="phone-contact">
							<p class="p-mail">rikard.mauritzon@winorg.no</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-bottom-padded-md">
				<div class="col-md-6 to-animate">
					<h3>Kontakt Informasjon</h3>
					<ul class="winorg-contact-info">
						<li class="winorg-contact-address"><i class="icon-home"></i>Hausmannsgate 17, 0182 Oslo</li>
						<li><i class="icon-phone"></i> (+47) 477 75 877</li>
						<li><i class="icon-envelope"></i>post@winorg.no</li>
					</ul>
				</div>

				<div class="col-md-6 to-animate">
					<h3>Send oss en melding</h3>
					<div class="form-group ">
						<label for="name" class="sr-only">Navn</label>
						<input id="name" class="form-control" placeholder="Navn" type="text">
					</div>
					<div class="form-group ">
						<label for="email" class="sr-only">Epost</label>
						<input id="email" class="form-control" placeholder="Epost" type="email">
					</div>
					<div class="form-group ">
						<label for="phone" class="sr-only">Telefon</label>
						<input id="phone" class="form-control" placeholder="Telefonnummer" type="text">
					</div>
					<div class="form-group ">
						<label for="message" class="sr-only">Melding</label>
						<textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Melding"></textarea>
					</div>
					<div class="form-group ">
						<input class="btn btn-primary btn-lg" value="Send Melding" type="submit">
					</div>
					</div>
				</div>

			</div>
		</div>
		<div id="map" class="to-animate"></div>
	</section>
	
	
	<footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
		<div class="container">
			<div class="">
				<div class="col-md-12 text-center">
					<a href="#">Personvernerklæring</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="https://www.linkedin.com/company/winorg" target="_blank"><i class="icon-linkedin"></i></a></li>
						<li><a href="https://www.facebook.com/WinorgAS/" target="_blank"><i class="icon-facebook"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	
	<!-- jQuery -->
	<script src="/scripts/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/scripts/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/scripts/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/scripts/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/scripts/jquery.stellar.min.js"></script>
	<!-- Counter -->
	<script src="/scripts/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="/scripts/jquery.magnific-popup.min.js"></script>
	<script src="/scripts/magnific-popup-options.js"></script>
	<!-- Google Map -->
	<script>
      function initMap() {
        var myLatLng = {lat: 59.916288, lng: 10.7563343};

        // Create a map object and specify the DOM element
        // for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 16
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: 'Winorg'
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCaXAXIUKnIsUAuI-syNdN7DIEyjHn3jc&callback=initMap"
        async defer></script>


	<!-- Main JS (Do not remove) -->
	<script src="/scripts/main.js"></script>

	</body>
</html>
