<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1068" key="2e4d1c97-e81d-4267-b6e2-3322117cc944" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2018-12-05T13:15:13" updateDate="2018-12-05T13:15:13" nodeName="Home" urlName="home" path="-1,1068" isDoc="" nodeType="1066" creatorName="rico" writerName="rico" writerID="1" template="1067" nodeTypeAlias="home" isPublished="true" />
</root>