<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="8164d230-1d6d-46c9-86f2-9c3b4e0aa1b1" name="ricos Powerful Beaver" alias="ricos-powerful-beaver" type="Starter" color="" url="https://www.s1.umbraco.io/project/ricos-powerful-beaver" trialExpireDate="2018-12-19T07:52:30">
  <environment type="live" name="Live" id="ea91ccfe-2a7b-4df5-b321-c8c36d122d6c">https://ricos-powerful-beaver.s1.umbraco.io</environment>
</environments>